<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png"> {{!-- This is for the icon on the tabs --}}
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>

<body>
    {{!-- We are making the sticky footer look at the end of the page --}}
    <div class="main-content">
        {{!-- To render a partial --}}
        {{>header}} {{!-- This is how we add header partials in our pages --}}


        <iframe src="https://drive.google.com/file/d/1ndr3yEh363f3LwReat_3QONSVqfGyPWt/view?usp=drive_link"
            frameBorder="0" scrolling="auto" width="550vw" height="550vh" allow="autoplay"></iframe>
    </div>

    {{>footer}} {{!-- This is how we add footer partials in our pages --}}
</body>

</html>